@page
@model ManangingContact.Pages.ContactCRUD.IndexModel

@{
    ViewData["Title"] = "Contact List";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>    
</div>
<br />
@*<p>   
    <a type="button" class="btn btn-outline-success" asp-page="Create">Create New</a>
</p>
*@<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Name)                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contacts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" type="button" class="btn btn-outline-primary">Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.Id" type="button" class="btn btn-outline-secondary">Details</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id" type="button" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
